#id01{
    background-color: aliceblue; 
    color: black;
    text-align: center;
}

h1{
    font-size: 45px;
}

#background{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}